<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <style>
    .top-of-page{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 6px;
    }
    .views{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    }
    .apple{
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    }






  </style>









  <p class="top-of-page";>
  Talking Tech and AI with Google CEO Sundar Pichai!
  </p>
  <p class="views";>
    3.4M views &#183; 6 months ago
  </p>
  <p class="apple">
    Shop early for the best selection of holiday presents
  </p>
</body>
</html>