<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Youtube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/general.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/video.css">
    <link rel="stylesheet" href="static/sidebar.css">

  </head>
  <body style="padding-bottom: 1000px">
  <div class="header">
    <div class="left-section">
        <img class="hamburger-menu" src="static/hamburger-menu.svg">
        <a href="https://www.youtube.com/" style="text-decoration:none" >
        <img class="youtube-logo" src="static/youtube-logo.svg">
        </a>
    </div>
    <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search">
        <button class="search">
            <img class="search-icon" src="static/search.svg">
            <div class="tooltip">Search</div>
        </button>

        <button class="voice-search">
            <img class="voice-image" src="static/voice-search-icon.svg">
            <div class="tooltip">Search with your voice
            </div>
        </button>

    </div>
    <div class="sidebar">
        <div class="sidebar-link">
            <a href="https://www.youtube.com" style="text-decoration:none">
                <img class="home" src="static/home.svg">
                <div>Home</div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="https://www.youtube.com/feed/trending" style="text-decoration:none">
            <img class="exp" src="static/explore.svg">
            <div>Explore</div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="https://www.youtube.com/feed/subscriptions"style="text-decoration:none">
            <img class="sub" src="static/subscriptions.svg">
            <div>Subscriptions</div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="https://www.youtube.com/originals"style="text-decoration:none">
            <img class="originals" src="static/originals.svg">
            <div>Originals</div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="https://music.youtube.com/"style="text-decoration:none">
            <img class="music" src="static/youtube-music.svg">
            <div>Youtube music</div>
            </a>
        </div>
        <div class="sidebar-link">
            <a href="https://www.youtube.com/feed/library"style="text-decoration:none">
            <img class="library" src="static/library.svg">
            <div>Library</div>
            </a>
        </div>

    </div>
    <div class="right-section">
        <div class="upload-icon-container">
            <img class="upload-image" src="static/upload.svg">
            <div class="tooltip">Create</div>

        </div>

            <div class="youtube-apps-container">
                <img class="youtube-apps-image" src="static/youtube-apps.svg">
                <div class="tooltip">Youtube apps</div>
            </div>

            <div class="notification-image-container">
                <div class="notification-container">
                    <img class="notification-image" src="static/notifications.svg">
                    <div class="notifications-counter">3</div>
                    <div class="tooltip">Notifications</div>
                </div>

            </div>

            <img class="my-channel-image"   src="static/my-channel.jpeg">
        </button>
    </div>
  </div>


  <div class="video-grid">
    <div class="video-preview">
      <div class="thumbnail-row">
          <a href="https://www.youtube.com/watch?v=n2RNcPRtAiY">
          <img class="thumbnail" src="static/thumbnail-1.webp">
          </a>
          <div
            class="video-time">
              14:20
          </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
              <img class="profile-picture" src="static/channel-1.jpeg">
          </div>
          <div class="channel-text">
              <p class="video-title">
                 <a href="https://www.youtube.com/watch?v=n2RNcPRtAiY" style="text-decoration:none">Talking Tech and AI with Google CEO Sundar Pichai!
                 </a>
              </p>
              <p class="video-author">
                  <a href="https://www.youtube.com/c/mkbhd" style="text-decoration:none">Marques Brownlee
                  </a>

              </p>
              <p class="video-views">
                4.1M views &#183; 1 year ago
              </p>
          </div>
        </div>
    </div>


    <div class="video-preview">
      <div class="thumbnail-row">
          <a href="https://www.youtube.com/watch?v=mP0RAo9SKZk">
            <img class="thumbnail" src="static/thumbnail-2.webp">
          </a>

        <div class="video-time">
               8:22
        </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
          <img class="profile-picture" src="static/channel-2.jpeg">
          </div>
          <div class="channel-text">
            <p class="video-title">
                <a href="https://www.youtube.com/watch?v=mP0RAo9SKZk"style="text-decoration:none">Try Not To Laugh Challenge #9
                </a>

            </p>
            <p class="video-author">
                <a href="https://www.youtube.com/c/markiplier"style="text-decoration:none">
              Markiplier
                </a>
            </p>
            <p class="video-views">
              20M views &#183; 5 years ago
            </p>
          </div>


        </div>
    </div>



    <div class="video-preview">
      <div class="thumbnail-row">
          <a href="https://www.youtube.com/watch?v=FgjPQQeTh1w"style="text-decoration:none">
          <img class="thumbnail" src="static/thumbnail-3.webp">
          </a>
          <div class="video-time">
            9:13
          </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
              <img class="profile-picture" src="static/channel-3.jpeg">
          </div>
          <div class="channel-text">
              <p class="video-title">
                  <a href="https://www.youtube.com/watch?v=FgjPQQeTh1w"style="text-decoration:none">
                Crazy Tik Toks Taken Moments Before DISASTER
                  </a>
              </p>
              <p class="video-author">
                  <a href="https://www.youtube.com/user/SSSniperWolf"style="text-decoration:none">
                SSSniperWolf
                  </a>
              </p>
              <p class="video-views">
                14M views &#183; 2 years ago
              </p>
          </div>
        </div>
    </div>

    <div class="video-preview">
      <div class="thumbnail-row">
          <a href="https://www.youtube.com/watch?v=094y1Z2wpJg"style="text-decoration:none">
          <img class="thumbnail" src="static/thumbnail-4.webp">
          </a>
          <div class="video-time">
              22:09
          </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
              <img class="profile-picture" src="static/channel-4.jpeg">
          </div>
          <div class="channel-text">
              <p class="video-title">
                  <a href="https://www.youtube.com/watch?v=094y1Z2wpJg"style="text-decoration:none">
                The Simplest Math Problem No One Can Solve - Collatz Conjecture
                  </a>
              </p>
              <p class="video-author">
                  <a href="https://www.youtube.com/@veritasium"style="text-decoration:none">
                Veritasium
                  </a>
              </p>
              <p class="video-views">
                31M views &#183; 1 year ago
              </p>
          </div>
        </div>
    </div>


    <div class="video-preview">
      <div class="thumbnail-row">
           <a href="https://www.youtube.com/watch?v=86CQq3pKSUw"style="text-decoration:none">
        <img class="thumbnail" src="static/thumbnail-5.webp">
           </a>
        <div class="video-time">
            11:17
        </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
          <img class="profile-picture" src="static/channel-5.jpeg">
          </div>
          <div class="channel-text">
            <p class="video-title">
                <a href="https://www.youtube.com/watch?v=86CQq3pKSUw"style="text-decoration:none">
            Kadane's Algorithm to Maximum Sum Subarray Problem
                </a>
            </p>
            <p class="video-author">
               <a href="https://www.youtube.com/c/CSDojo"style="text-decoration:none">
                CS Dojo
               </a>

            </p>
            <p class="video-views">
              612K views &#183; 6 years ago
            </p>
          </div>
        </div>
    </div>

    <div class="video-preview">
      <div class="thumbnail-row">
          <a href="https://www.youtube.com/watch?v=yXWw0_UfSFg"style="text-decoration:none">
          <img class="thumbnail" src="static/thumbnail-6.webp">
          </a>
          <div class="video-time">
              19:59
          </div>
      </div>
        <div class="video-info-grid">
          <div class="channel-picture">
              <img class="profile-picture" src="static/channel-6.jpeg">
          </div>
          <div class="channel-text">
              <p class="video-title">
                  <a href="https://www.youtube.com/watch?v=yXWw0_UfSFg"style="text-decoration:none">
                    Anything You Can Fit In The Circle I’ll Pay For
                  </a>
              </p>
              <p class="video-author">
                  <a href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA"style="text-decoration:none">
                MrBeast
                  </a>
              </p>
              <p class="video-views">
                187M views &#183; 2 years ago
              </p>
          </div>
        </div>
    </div>
  </div>
  </body>
</html>